<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,396},{122,114}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>arial-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,777},{252,82}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,82}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1489},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>bg01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{320,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,576}}</string>
                <key>sourceSize</key>
                <string>{320,576}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,631},{26,90}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,90}}</string>
                <key>sourceSize</key>
                <string>{32,128}</string>
            </dict>
            <key>cocos2d-html5.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,689},{280,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,86}}</string>
                <key>sourceSize</key>
                <string>{280,88}</string>
            </dict>
            <key>explode1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{776,861},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explode2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{678,861},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explode3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{580,861},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1011},{476,508}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{476,508}}</string>
                <key>sourceSize</key>
                <string>{520,520}</string>
            </dict>
            <key>flare.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{875,685}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{875,685}}</string>
                <key>sourceSize</key>
                <string>{875,685}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,959},{320,77}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{320,77}}</string>
                <key>sourceSize</key>
                <string>{320,85}</string>
            </dict>
            <key>hit.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{980,597},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1103},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{320,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,141}}</string>
                <key>sourceSize</key>
                <string>{320,141}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,597},{504,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,99}}</string>
                <key>sourceSize</key>
                <string>{504,99}</string>
            </dict>
            <key>menuTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,324},{134,70}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,70}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>ship01.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,512},{120,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,83}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoonWarriors.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2ac990c9ac8656869c95f468dec2ff$</string>
            <key>textureFileName</key>
            <string>MoonWarriors.png</string>
        </dict>
    </dict>
</plist>
