<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,848},{60,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>back_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,786},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,710},{60,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>bounschip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,710},{150,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>bounschip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,862},{146,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,58}}</string>
                <key>sourceSize</key>
                <string>{150,58}</string>
            </dict>
            <key>connecting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>home_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,848},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>home_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,968},{50,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>home_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,910},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>icon_baccarat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,966},{216,194}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{216,194}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>icon_blackjack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,194},{222,184}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{222,184}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>icon_highlimits.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,380},{218,204}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{218,204}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>icon_jackpot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,776},{218,188}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{218,188}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>icon_keno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{222,190}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{222,190}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>icon_slots.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,586},{218,188}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{218,188}}</string>
                <key>sourceSize</key>
                <string>{222,204}</string>
            </dict>
            <key>jyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,624},{166,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,30}}</string>
                <key>sourceSize</key>
                <string>{166,30}</string>
            </dict>
            <key>lobby_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>lobby_collect_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,136},{132,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,38}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>lobby_collect_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,270},{126,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>lobby_collect_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,2},{132,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,38}}</string>
                <key>sourceSize</key>
                <string>{132,38}</string>
            </dict>
            <key>lobby_jt_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{52,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>lobby_jt_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,710},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{48,74}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>lobby_login_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1034},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>lobby_login_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>lobby_logiout_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>lobby_logiout_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{160,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,74}</string>
            </dict>
            <key>setting_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,968},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>setting_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,906},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>setting_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1110},{52,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,64}}</string>
                <key>sourceSize</key>
                <string>{1138,64}</string>
            </dict>
            <key>use_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,476},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>use_dow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,554},{68,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,36}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>use_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,398},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobbyAssets.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f02a3c95d5215db8ee63b8b0f59916d5$</string>
            <key>textureFileName</key>
            <string>lobbyAssets.png</string>
        </dict>
    </dict>
</plist>
